.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.keyPad {
  padding: 12px 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 8px;
  background-color: #fffdfd;
  font-size: 18px;
  transition: all 0.3s;
}
.keyPad:hover {
  background-color: #999999;
  color: #fffdfd;
  font-weight: 500;
}
